@page "/"

@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@inject SfDialogService DialogService


<h2>Dialog</h2>
<br/>
<div id = "ControlRegion">
  <div class="col-lg-12 control-section">
    <button id="normalbtn" class="e-btn open-btn" @onclick="@OnBtnClick">Open</button>
    
</div>
</div>


@code {

    private async Task OnBtnClick()
    {

        DialogOptions op=new();


        
        op.AllowDragging = true;
        
        op.CloseOnEscape = true;
        op.ShowCloseIcon = true;
       
        

        bool isConfirm = await DialogService.ConfirmAsync("Are you sure you want to permanently delete these items?", "Delete Multiple Items",op);
        if(isConfirm)
        {
            await DialogService.AlertAsync("Siker", "na",op);
        }
    }
   }


